[Unit]
Description=Daemon to start httpgo web-server
After=syslog.target

[Service]
ExecStart=/root/gocode/src/github.com/ruslanBik4/httpgo/httpgo -path /root/gocode/src/github.com/ruslanBik4/httpgo/ -debug
ExecDirectory=/root/gocode/src/github.com/ruslanBik4/httpgo/
RootDirectoryStartOnly=true
Type=simple
Restart=always
PrivateTmp=yes
