Server:
  name: "test httpgo"
  #The maximum number of concurrent connections the server may serve.
  concurrency: 1250
  # Whether to disable keep-alive connections.
  #
  # The server will close all the incoming connections after sending
  # the first response to client if this option is set to true.
  #
  # By default keep-alive connections are enabled.
  disablekeepalive: true
  # Per-connection buffer size for requests' reading.
  # This also limits the maximum header size.
  #
  # Increase this buffer if your clients send multi-KB RequestURIs
  # and/or multi-KB headers (for example, BIG cookies).
  #
  # Default buffer size is used if not set.
  readbuffersize: 0
  # Per-connection buffer size for responses' writing.
  #
  # Default buffer size is used if not set.
  writebuffersize: 0
  # Maximum duration for reading the full request (including body).
  #
  # This also limits the maximum duration for idle keep-alive
  # connections.
  #
  # By default request read timeout is unlimited.
  readtimeout: 0
  # Maximum duration for writing the full response (including body).
  #
  # By default response write timeout is unlimited.
  writetimeout: 0
  # Maximum number of concurrent client connections allowed per IP.
  #
  # By default unlimited number of concurrent connections
  # may be established to the server from a single IP address.
  maxconnsperip: 0
  # Maximum number of requests served per connection.
  #
  # The server closes connection after the last request.
  # 'Connection: close' header is added to the last response.
  #
  # By default unlimited number of requests may be served per connection.
  maxrequestsperconn: 0
  # Maximum keep-alive connection lifetime.
  #
  # The server closes keep-alive connection after its' lifetime
  # expiration.
  #
  # See also ReadTimeout for limiting the duration of idle keep-alive
  # connections.
  #
  # By default keep-alive connection lifetime is unlimited.
  maxkeepaliveduration: 0
  # Maximum request body size.
  #
  # The server rejects requests with bodies exceeding this limit.
  #
  # Request body size is limited by DefaultMaxRequestBodySize by default.
  maxrequestbodysize: 100000000
  # Aggressively reduces memory usage at the cost of higher CPU usage
  # if set to true.
  #
  # Try enabling this option only if the server consumes too much memory
  # serving mostly idle keep-alive connections. This may reduce memory
  # usage by more than 50%.
  #
  # Aggressive memory usage reduction is disabled by default.
  reducememoryusage: false
  # Rejects all non-GET requests if set to true.
  #
  # This option is useful as anti-DoS protection for servers
  # accepting only GET requests. The request size is limited
  # by ReadBufferSize if GetOnly is set.
  #
  # Server accepts all the requests by default.
  getonly: false
  # Logs all errors, including the most frequent
  # 'connection reset by peer', 'broken pipe' and 'connection timeout'
  # errors. Such errors are common in production serving real-world
  # clients.
  #
  # By default the most frequent errors such as
  # 'connection reset by peer', 'broken pipe' and 'connection timeout'
  # are suppressed in order to limit output log traffic.
  logallerrors: true
  # Header names are passed as-is without normalization
  # if this option is set.
  #
  # Disabled header names' normalization may be useful only for proxying
  # incoming requests to other servers expecting case-sensitive
  # header names. See https:#github.com/valyala/fasthttp/issues/57
  # for details.
  #
  # By default request and response header names are normalized, i.e.
  # The first letter and the first letters following dashes
  # are uppercased, while all the other letters are lowercased.
  # Examples:
  #
  #     * HOST -> Host
  #     * content-type -> Content-Type
  #     * cONTENT-lenGTH -> Content-Length
  disableheadernamesnormalizing: false
  # NoDefaultServerHeader, when set to true, causes the default Server header
  # to be excluded from the Response.
  #
  # The default Server header value is the value of the Name field or an
  # internal default value in its absence. With this option set to true,
  # the only time a Server header will be sent is if a non-zero length
  # value is explicitly provided during a request.
  nodefaultserverheader: false
  # NoDefaultContentType, when set to true, causes the default Content-Type
  # header to be excluded from the Response.
  #
  # The default Content-Type header value is the internal default value. When
  # set to true, the Content-Type will not be present.
  nodefaultcontenttype: false
Access:
  ChkConn: true
  Allow:
    - all.ow.ip
  Deny:
    - den.ip
  AllowRoute:
    - /stat
  DenyRoute:
    - /deny_path
  Mess: |
    message about forbidden. 