maximize
url: vps-20777.vps-default-host.net/extranet/
@hotelName: Алупка
@userName: ruslan-bik@yandex.ru
@password: kRnZBweSNEjr-8VJY0htTw==
#searchField {
    clear:
    pause: 2000
    sendkey: @hotelName
}
#resultSearchWhenIsEmpty {
    visible : fail
}
#app_aside_parent_list div.panel[style='']::first {
    text:
    click
}
screenshot
#app_aside_parent_list > div > div.panel-collapse[aria-expanded='true'] > div > ul > li:nth-child(1) > a::visible {
    click:
    text:
    pause: 1000
}
screenshot
input[name=login]::visible {
    sendkey: @userName
}
input[name=password]::visible {
    sendkey: @password
}
screenshot
.modal-footer > button::visible{
    click
    pause: 100
    getalert
}
#app_aside_parent_list > div > div.panel-collapse[aria-expanded='true'] > div > ul > li:nth-child(1) > a::visible {
    click:
    text:
}
select[name=id_prop_hotels_type_list]::visible {
    text
}
.main-tabs >li > a {
    click
    pause: 1000
}
executescript:alert('Hello')
pause: 1000
getalert
#decor > div.col-xs-5.left-padding > div > div > div.for-photo-container.data-table-id.clearfix > div:nth-child(2)  {
    click
    pause: 1000
}
#carousel-example-generic > a.right.object-gallery-right::visible {
    click
    pause: 1000
}
#carousel-example-generic > a.right.object-gallery-right::visible {
    click
    pause: 1000
}
#carousel-example-generic > a.right.object-gallery-right::visible {
    click
    pause: 1000
}
#carousel-example-generic > a.right.object-gallery-right::visible {
    click
    pause: 1000
}
pause: 2000