url:vps-20777.vps-default-host.net/extranet/
maximize
#searchField {
    clear:
    pause: 1000
    sendkey: Алупка
}
#resultSearchWhenIsEmpty {
    visible : fail
}
a.collapsed::visible {
    text:
    click
}
#collapse525 > div > ul > li:nth-child(1) > a::visible {
    click:
    text:
    pause: 1000
}
input[name=login]::visible {
    sendkey: ruslan-bik@yandex.ru
}
input[name=password]::visible {
    sendkey: kRnZBweSNEjr-8VJY0htTw==
}
.modal-footer > button::visible{
    click
    pause: 100
    getalert
}
#collapse525 > div > ul > li:nth-child(1) > a::visible {
    click:
    text:
}

select[name=id_prop_hotels_type_list]::visible {
    text
}
.main-tabs >li > a {
    click
    pause: 1000
}
executescript:alert('Hello')
pause: 1000
getalert

#decor > div.col-xs-5.left-padding > div > div > div.for-photo-container.data-table-id.clearfix > div:nth-child(2)  {
    click
}
#carousel-example-generic > a.right.object-gallery-right::visible {
    click
}
pause: 200000